name: Deploy Auto-Notion to Firebase Hosting

on:
  push:
    branches: [ main ]
  schedule:
    - cron: '0 0 * * *'  # Daily build

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Deploy to Firebase Hosting
        uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: "${{ secrets.GITHUB_TOKEN }}"
          firebaseServiceAccount: "${{ secrets.FIREBASE_SERVICE_ACCOUNT_META_AUTO_NOTION }}"
          channelId: live
          projectId: meta-auto-notion
